*.pyc
*.sublime-project
*.sublime-workspace
pyvenv.cfg
dmb_config.json
menu.json
main.spec
log.txt
main/
dist/
build/
__pycache__/*
View/__pycache__/*
.vscode/
Lib/
Scripts/
5.15.2/
aqtinstall.log
output/
debian/overlay
python_package/ezdmb
docker/artifacts
